node_modules/
out/
dist/
dist-electron/

release/
Final/
Hire downloader Sell/
.venv/
.venv64/
.venv32/
build/pyi_*/
build/*.spec
__pycache__/
*.py[cod]
*.log
.DS_Store
Thumbs.db
*.tsbuildinfo
.vscode/
.env
.env.*
resources/ffmpeg.exe
resources/ffmpeg_x64.exe
resources/ffmpeg_x86.exe
resources_x86/
package-lock.json
cmd.exe
scripts/__pycache__/
